body {
  font-family: 'Besley', serif;
  display: flex;
  align-items: center;
}

.row {
  display: flex;
  align-items: baseline;
  padding: 10px;
}

header {
  padding: 20px;
}

header h1 {
  font-size: 60px;
  color: red;
}

header h2 {
  font-size: 14px;
  color: gray;
}

.quote {
  font-style: italic;
  font-size: 25px;
}

.correct {
  font-size: 30px;
}
