body {
  font-family: 'Besley', serif;
  display: flex;
  align-items: center;
}

.row {
  display: flex;
  align-items: baseline;
}

header {
  padding: 20px;
}

header h1 {
  font-size: 60px;
  color: red;
}
